span.kw { color: #007020; font-weight: bold; } /* Keyword */
span.dt { color: #902000; } /* DataType */
span.dv { color: #40a070; } /* DecVal */
span.bn { color: #40a070; } /* BaseN */
span.fl { color: #40a070; } /* Float */
span.ch { color: #4070a0; } /* Char */
span.st { color: #4070a0; } /* String */
span.co { color: #60a0b0; font-style: italic; } /* Comment */
span.ot { color: #007020; } /* Other */
span.al { color: #ff0000; font-weight: bold; } /* Alert */
span.fu { color: #06287e; } /* Function */
span.er { color: #ff0000; font-weight: bold; } /* Error */
span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
span.cn { color: #880000; } /* Constant */
span.sc { color: #4070a0; } /* SpecialChar */
span.vs { color: #4070a0; } /* VerbatimString */
span.ss { color: #bb6688; } /* SpecialString */
span.im { } /* Import */
span.va { color: #19177c; } /* Variable */
span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
span.op { color: #666666; } /* Operator */
span.bu { } /* BuiltIn */
span.ex { } /* Extension */
span.pp { color: #bc7a00; } /* Preprocessor */
span.at { color: #7d9029; } /* Attribute */
span.do { color: #ba2121; font-style: italic; } /* Documentation */
span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
